[tooltip] > * {
  @apply inline-block;
}

[tooltip] {
  @apply relative;
}

[tooltip].large:after {
  min-width: 13rem;
}

[tooltip]:before,
[tooltip]:after {
  @apply font-sans text-xs font-normal text-opacity-100 text-bg select-none pointer-events-none absolute hidden opacity-0;
}

[tooltip]:before {
  content: '';
  @apply border-transparent z-[1001];
  border-width: 5px;
}

[tooltip]:after {
  content: attr(tooltip);
  @apply text-center w-auto min-w-[7em] max-w-[21em] p-2 rounded-lg shadow-lg bg-bgDark z-[1000] whitespace-normal;
}

[tooltip]:hover:before,
[tooltip]:hover:after,
[tooltip].hover:before,
[tooltip].hover:after {
  @apply block;
}

[tooltip]:not([position]):before,
[tooltip][position^='top']:before {
  @apply border-b-0 border-t-bgDark;
  bottom: 100%;
}

[tooltip]:not([position]):after,
[tooltip][position^='top']:after {
  bottom: calc(100% + 5px);
}

[tooltip]:not([position]):before,
[tooltip]:not([position]):after,
[tooltip][position^='top']:before,
[tooltip][position^='top']:after {
  @apply left-1/2;
  transform: translate(-50%, -0.5em);
}

[tooltip][position^='bottom']:before {
  @apply border-t-0 border-b-bgDark;
  top: 105%;
}

[tooltip][position^='bottom']:after {
  top: calc(105% + 5px);
}

[tooltip][position^='bottom']:before,
[tooltip][position^='bottom']:after {
  @apply left-1/2;
  transform: translate(-50%, 0.5em);
}

[tooltip][position^='left']:before {
  @apply border-r-0 border-l-bgDark;
  top: 50%;
  left: calc(0em - 5px);
  transform: translate(-0.5em, -50%);
}

[tooltip][position^='left']:after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-0.5em, -50%);
}

[tooltip][position^='right']:before {
  @apply border-l-0 border-r-bgDark;
  top: 50%;
  right: calc(0em - 5px);
  transform: translate(0.5em, -50%);
}

[tooltip][position^='right']:after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(0.5em, -50%);
}

[tooltip]:not([position]):hover:before,
[tooltip]:not([position]):hover:after,
[tooltip][position^='top']:hover:before,
[tooltip][position^='top']:hover:after,
[tooltip][position^='bottom']:hover:before,
[tooltip][position^='bottom']:hover:after,
[tooltip]:not([position]).hover:after,
[tooltip][position^='top'].hover:before,
[tooltip][position^='top'].hover:after,
[tooltip][position^='bottom'].hover:before,
[tooltip][position^='bottom'].hover:after {
  animation: tooltips-vert 0.3s ease-out forwards;
}

[tooltip][position^='left']:hover:before,
[tooltip][position^='left']:hover:after,
[tooltip][position^='right']:hover:before,
[tooltip][position^='right']:hover:after,
[tooltip][position^='left'].hover:before,
[tooltip][position^='left'].hover:after,
[tooltip][position^='right'].hover:before,
[tooltip][position^='right'].hover:after {
  animation: tooltips-horz 0.3s ease-out forwards;
}

[tooltip='']:before,
[tooltip='']:after {
  @apply hidden !important;
}

@keyframes tooltips-vert {
  to {
    opacity: 0.9;
    transform: translate(-50%);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: 0.9;
    transform: translateY(-50%);
  }
}
